*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-image: linear-gradient( to bottom, #2e3a46 0%, #2e3a46 5%, #1e2d3b 5%, #1e2d3b 100% );
  display: flex;
  justify-content: center;
  align-items: center;
}

#app{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content:space-between;
  width: 40%;
  height: 90%;
  margin-top: 50px;
}

.contenitore{
  width: calc(100% / 4);
  height: calc((100% / 4) -10px);
  text-align: center;
  padding: 10px;
}

.album{
  background-color: #2e3a46;
  padding: 8px;
  height: 200px;
}

img{
  height: 80px;
  width: 80px;
}

.testo{
  padding: 0 10px;
}

span{
  display: block;
}

#titolo{
  padding-top: 5px;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
}

#autore{
  padding-top: 10px;
  line-height: 20px;
}

#autore, #anno{
  color: #60656a;
  font-size: 13px;
}
